/ {
    aliases {
        led1 = &ext_led;
        sw0 = &user_button;
        pwm0 = &tcc0;
    };

    leds {
        compatible = "gpio-leds";
        ext_led: led_1 {
            gpios = <&portb 02 GPIO_ACTIVE_HIGH>;
            label = "EXT_LED";
        };
    };
    buttons {
        compatible = "gpio-keys";
        user_button: button_0 {
            gpios = <&portc 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "USER_BUTTON";
        };
    };
};

&pinctrl {
    tc4_pb08: tc4_pb08 {
        atmel,pins = <1 8 4 0>; // Port B, Pin 8, Peripheral E, No pull
    };
    tc4_pb09: tc4_pb09 {
        atmel,pins = <1 9 4 0>; // Port B, Pin 9, Peripheral E, No pull
    };
    adc1_default: adc1_default{
        group1{
            pinmux = <PB4B_ADC1_AIN6>;
        };
    };
    pwm_ext2: pwm_ext2 {
        group1{
            pinmux = <PC4F_TCC0_WO0>;
        };
    };
};

&adc1 {
    status = "okay";
    pinctrl-0 =  <&adc1_default>;
    pinctrl-names = "default";
};

&tcc0 {
    pinctrl-0 = <&pwm_ext2>;
};

//&tc4 {
//    status = "okay";
//    compatible = "atmel,sam0-tc-pwm";
//    #pwm-cells = <2>;
//    pinctrl-0 = <&tc4_pb08 &tc4_pb09>;
//    pinctrl-names = "default";
//    channels = <2>;
//    counter-size = <16>;
//    prescaler = <1>;
//};