/ {
    aliases {
        led1 = &ext_led;
        sw0 = &user_button;
        pwm0 = &tcc0;
        servo0= &tcc4;
    };

    leds {
        compatible = "gpio-leds";
        ext_led: led_1 {
            gpios = <&portb 02 GPIO_ACTIVE_HIGH>;
            label = "EXT_LED";
        };
    };
    buttons {
        compatible = "gpio-keys";
        user_button: button_0 {
            gpios = <&portc 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "USER_BUTTON";
        };
    };
};

&pinctrl {
    tc4_pb08: tc4_pb08 {
        atmel,pins = <1 8 4 0>; // Port B, Pin 8, Peripheral E, No pull
    };
    tc4_pb09: tc4_pb09 {
        atmel,pins = <1 9 4 0>; // Port B, Pin 9, Peripheral E, No pull
    };
    adc1_default: adc1_default{
        group1{
            pinmux = <PB4B_ADC1_AIN6>;
        };
    };
    pwm_ext2: pwm_ext2 {
        group1{
            pinmux = <PC4F_TCC0_WO0>;
        };
    };
    servo_pins: servo_pins{
        group1{
            pinmux = <PB14F_TCC4_WO0>, <PB15F_TCC4_WO1>;
        };
    };
};

&adc1 {
    status = "okay";
    pinctrl-0 =  <&adc1_default>;
    pinctrl-names = "default";
};

&tcc0 {
    pinctrl-0 = <&pwm_ext2>;
};

&tcc4 {
    status = "okay";
    compatible = "atmel,sam0-tcc-pwm";
    prescaler = <8>;
	#pwm-cells = <2>;
    pinctrl-0 = <&servo_pins>;
    pinctrl-names = "default";
};

// &tc4 {
//     status = "okay";
//     compatible = "atmel,sam0-tc-pwm";
//     #pwm-cells = <2>;
//     pinctrl-0 = <&tc4_pb08>;
//     pinctrl-names = "default";
//     channels = <2>;
//     counter-size = <16>;
//     prescaler = <1>;
// };